
col{
    border:1px solid black;
}

header{
    height:35px;
}

.image{
    height: 400px;
}

.interactive{
    height: 35px;
}

.sidebar{
    box-shadow: 2px 2px 2px 2px rgba(51, 51, 51, 0.486);
}

.image img{
    width:50%;
    height: 199px;
    object-fit: contain;
}

.main{
    background-color: cornflowerblue;
}