{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static%}
{% load cloudinary%}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/interface.css' %}">
{% bootstrap_css %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
  {% for post in posts%}
    <div class="col main">
        <header class="div">
            <p>{{post.username }}</p>
        </header>
        <div class="image div">
            <p>hello</p>
        </div>
        <div class="interactive div">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            <i class="fa fa-bookmark-o" aria-hidden="true" style="float:right;margin:10px"></i>
        </div>
        <div class="caption div">
            <form>
                <input type="text" placeholder="leave a comment"><span style="float:right;margin:10px">Post</span>
            </form>

        </div>
    </div>
    <div class="col sidebar">
        <div class="profile"></div>
        <div class="suggetstion">
            <p>suggetstion</p>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}